html { width: 100%;height: 100%;margin: 0;padding: 0;font-family:Segoe UI,Tahoma,'Noto Sans';font-size: 100%}
body { width: 100%;height: 100%;margin: 0;padding: 0 }
@media (min-resolution: 96dpi) and (max-resolution: 115dpi){ /* %100 in Firefox or IE  1920 x 1080 @ 22inch  http://bjango.com/articles/min-device-pixel-ratio/ */
    body {
		font-size:0.7em;
    }
}
@media (min-resolution: 115dpi){ /* %125 in Firefox or IE  1920 x 1080 @ 22inch */
    body {
        font-size:0.7em;
    }
}
form { margin-bottom: 0 }
.jexpBorderBox { -moz-box-sizing:border-box;-webkit-box-sizing: border-box;-ms-box-sizing:border-box;box-sizing:border-box; }
.loginBanner{ font-size: 0.85em;padding: 10px;text-align: center; }
.mainFooter{ font-size:0.9em;font-style:itelic;color:gray; }
.jexpDialog .ui-dialog-titlebar { border-left: medium none;border-right: medium none;border-top: medium none; }
.jexpDialog .jesFormContainer { border-left-width: 2px;border-right-width: 2px;border-bottom-width: 2px;border-color:inherit;  }
.ui-effects-transfer { z-index:9999; border: 2px dotted gray; }
.ui-cursor-hand { cursor:pointer }
.ui-state-highlight { cursor: pointer; }
.ui-widget .ui-widget{ font-size:1em }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: inherit; font-size: 1em; }
.ui-widget .ui-button { font-size: 0.9em }
.ui-button .silk-icon { left:0.3em }
.ui-dialog { padding: 0 }
.ui-dialog .ui-dialog-title { font-size:1.05em; margin:0.2em 0; }
.ui-dialog .ui-dialog-titlebar { padding: 0; }
.ui-dialog .ui-dialog-content { padding: 0; }
.ui-dialog .ui-dialog-buttonpane { padding: 0; }
.ui-dialog .ui-rtl { float:right; }
.no-close .ui-dialog-titlebar-close { display: none; }
.ui-shadow { -moz-box-shadow: 0 0 30px 8px #888;-webkit-box-shadow: 0 0 30px 8px #888;box-shadow: 0 0 30px 8px #888}
.gwt-TextBox, .gwt-PasswordTextBox, .hasDatepicker { padding: 0 }
.gwt-CheckBox { font-size:inherit;}
.jexpLabel { font-size:inherit; }
.ui-widget-overlay { opacity: 0.25 }
.ui-widget .jesSmallButton { font-size:0.85em;padding-left:1px;padding-right:1px;padding-top:0;padding-bottom:0; }
.jesJiraDialog { -moz-box-shadow: 0 0 30px 8px #DA81F5;-webkit-box-shadow: 0 0 30px 8px #DA81F5;box-shadow: 0 0 30px 8px #DA81F5; }
.jesJiraDialog .jesJiraTitle { font-size: 1.3em; font-weight: bold; }
.jexpErrorDialog { -moz-box-shadow: 0 0 30px 8px #FF3300;-webkit-box-shadow: 0 0 30px 8px #FF3300;box-shadow: 0 0 30px 8px #FF3300; }
.jexpErrorDialog .jesErrorTitle { font-size: 1.3em; font-weight: bold; }
.jexpErrorDialog .jesErrorMessage { padding-left:15px;font-size: 2.2em; font-weight: bold; color: #FF3300 }
.jexpErrorDialog .jesErrorTrace { font-family:monospace; font-size: 1.2em }
.jexpErrorDialog .jesErrorBottomPanel { border-top:1px solid inherit; }
.jexpErrorDialog .jesErrorSolutionLink { font-size: 1.5em; font-style: italic; color:blue; }
.jexpErrorDialog .jesErrorJiraLink { font-size: 1.5em; font-style: italic; color:blue; }
.jesGlassPanel {
	margin: 0 auto;
	background: none repeat scroll 0 0 rgba(251, 251, 251, 0.6);
	opacity:0.6; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FBFBFB, endColorstr=#50FBFBFB);
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #BBBBBB;
	-moz-box-shadow: 0 0 5px #BBBBBB;
	-webkit-box-shadow: 0 0 5px #BBBBBB;
	outline: medium none;
	padding: 10px;
}