body { font-family: Helvetica,Arial,sans-serif; font-size:13px; }
.no-padding-right { padding-right: 0 !important; }
.login-page { background: none repeat scroll 0 0 #DFE0E2;background: url(loginbg.jpg) #394557; }
.login-logo, .register-logo { font-size: 35px;font-weight: 400; }
.login-box-body { 
	margin: 0 auto;
	background: none repeat scroll 0 0 rgba(251, 251, 251, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50FBFBFB, endColorstr=#50FBFBFB);
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px #BBBBBB;
	-moz-box-shadow: 0 0 5px #BBBBBB;
	-webkit-box-shadow: 0 0 5px #BBBBBB;
	outline: medium none;
	border-bottom: 1px solid rgba(50, 50, 50, 0.33);
	padding-bottom:6px; }
}
.login-box-msg, .register-box-msg { color: #EFEFEF; font-size: 1.25em; }
.login-borderTop { border-top:1px solid #D2D6DE;padding-top:6px; }
.content-wrapper, .right-side { background-color: #FDFDFD; }
.main-header { z-index: 1; }
.main-header .logo { font-weight:400; }
.user.user-menu > a { padding: 2px 20px 2px 20px; }
.breadcrumb { background-color:transparent;margin-bottom:0; }
.sidebar { font-size:13px; }
.sidebar-menu .treeview-menu>li>a { font-size: 1em; }
.sidebar-menu > li > a { display: block;padding: 8px 8px 8px 5px; }
.sidebar-menu .treeview-menu>li>a { padding: 4px 5px 4px 8px; }
.sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon, .sidebar-menu .treeview-menu>li>a>.ion { width: 14px; }
.sidebar-menu .treeview-menu .treeview-menu { padding-left: 8px; }
.sidebar-menu li > a > .fa-angle-left { margin-right: 2px; }
.content-header { padding: 3px 10px; }
.content { padding:10px; }
.purple { color: #a069c3!important; }
.red { color: #dd5a43!important; }
.green { color: #69aa46!important; }
.grey { color: #777!important; }
.blue { color: #478fca!important; }
.orange { color: #ff892a!important; }
.jexp-view{ font-size: 12px;font-family: Helvetica; }
.jexp-view .jexpMainViewToolItem { font-size:1em;color:#2679B5;opacity:0.25;cursor:pointer; }
.jexp-view .pull-right.jexpMainViewToolItem { opacity:0.6; }
.jexp-view .jexpMainViewToolItem:hover { opacity:1; }
.content-header > h1 { margin: 6px 0px 0px 0px;font-size: 20px; }
.content-header > .breadcrumb { top:0;right:23px;font-size:11px; }
.widget-header>.widget-title { line-height: 36px;padding: 0;margin: 0;display: inline; font-size: 1.2em; }
.widget-toolbar { display: inline-block;float: right;line-height: 37px;padding: 0 10px;position: relative; }
.btn {padding: 5px 4px;}
.btn-sm > .alte-icon { margin-right: 3px; }
.btn > .alte-icon { margin-right: 4px; }
.btn-lg > .alte-icon { margin-right: 5px; }
label { font-weight: 400; }
.jexp-ui-window { font-size: 0.9em; }
.widget-header > .widget-title > .alte-icon { display: inline-block; font-weight: 400; margin-right: 5px; }
.btn { font-size:1em; }
.gritter-light .gritter-item { background-color:#ffffff;background:-moz-radial-gradient(50% 75%,circle,#ffffff,#EFF3F8);background:-webkit-radial-gradient(50% 75%,circle,#ffffff,#EFF3F8);background:-o-radial-gradient(50% 75%,circle,#ffffff,#EFF3F8);background:-ms-radial-gradient(50% 75%,circle,#ffffff,#EFF3F8);background:radial-gradient(50% 75%,circle,#ffffff,#EFF3F8);
	-moz-box-shadow: 0 0 12px 4px #888;-webkit-box-shadow: 0 0 10px 4px #888;box-shadow: 0 0 10px 4px #888;
}
.ui-autocomplete { background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
.ui-menu {
    -moz-box-sizing: content-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0px;
    width: 150px;
}
.ui-menu .ui-menu-item {
    -moz-box-sizing: inherit;
    color: #444444;
    cursor: pointer;
    display: block;
    padding: 3px 5px 3px;
    font-size:0.9em;
}    
.ui-menu .ui-menu-item:hover, .ui-menu .ui-state-focus, .ui-menu .ui-state-active, .ui-menu .ui-menu-item:hover > .ui-menu-icon, .ui-menu .ui-state-focus > .ui-menu-icon, .ui-menu .ui-state-active > .ui-menu-icon {
    background-color: #4F99C6;
    color: #FFFFFF;
    font-weight: 500;
    margin: auto;
    text-decoration: none;
}