@IMPORT url("jquery-ui.min.css");
.jexpDialog {	border: 1px solid #B6B6B6;
	background: #ededed url(images/bg_fallback.png) 0 0 repeat-x; /* Old browsers */
		background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* IE10+ */
		background: linear-gradient(top, #ededed 0%,#c4c4c4 100%); /* W3C */
}/*ui-state-active*/
.ui-button-text-only > .ui-button-text {
	padding:0.4em 0.6em;
	font-size:1em;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text{
	font-size:1em;
}
div.uploader,
.ui-autocomplete-input,
.wijmo-wijtextbox.ui-widget,
input.text,select.jexpComboBox,
input.email,
input.password,
textarea.uniform,
textarea,
input[type='text'],
input[type='password'],
input[type='file'] {
  padding: 5px;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  border: 1px solid #ababab;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #f8f8f8;
  background: white;
  filter: expression("progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='white')");
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='white')";
  background: -moz-linear-gradient(0% 100% 90deg, white, #f8f8f8);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(white));
  background: -o-linear-gradient(0% 100% 90deg, white, #f8f8f8);
  background: -ms-linear-gradient(0% 100% 90deg, white, #f8f8f8);
}